body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.Utilisateur {
    display: flex;
    height: 100vh;
}

/******************************************NAVIGATION**************************************************/

.Utilisateur .Navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(23, 134, 55);
    color: #ffffff;
}

.Utilisateur .Navigation .logo {
    margin-bottom: 20px;
}

.Utilisateur .Navigation .logo .logoImg {
    width: 100px;
    margin-right: 130%;
}

.Utilisateur .Navigation .navbox .logoname button {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(23, 134, 55);
    border: none;
}

.Utilisateur .Navigation .navbox .logoname button:hover {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: rgb(102, 245, 102);
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgb(23, 134, 55);
    border: none;
}

.Utilisateur .Navigation .navbox .username {
    background-color: white;
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px;
}

.Utilisateur .Navigation .navbox .username span {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: rgb(79, 197, 56);
}

.Utilisateur .Navigation .navbox .username .icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.Utilisateur .Navigation .navbox .username .icon:hover {
    width: 55px;
    height: 55px;
    margin-left: 15px;
    cursor: pointer;
    background-color: rgb(23, 134, 55);
    border-radius: 50%;
}

.Utilisateur .Navigation .navbox .navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 30px;
    padding: 0px 50px 0px 60px;
}

.Utilisateur .Navigation .navbox .navbar button {
    display: flex;
    align-items: center;
    background-color: rgb(38, 205, 86);
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.Utilisateur .Navigation .navbox .navbar button {
        display: flex;
        align-items: center;
        background-color: rgb(38, 205, 86);
        padding: 15px;
        border: none;
        border-radius: 8px;
        color: #ffffff;
        font-weight: bold;
        font-size: 18px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        position: relative;
}

.Utilisateur .navbar button:hover::after {
    content: attr(data-text); 
    position: absolute; 
    top: 100%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(121, 226, 165, 0.8); 
    color: #ffffff; 
    padding: 5px 10px; 
    border-radius: 4px; 
    font-size: 14px; 
    white-space: nowrap; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.Utilisateur .navbar button:hover::after {
    opacity: 1; 
    visibility: visible; 
}

.Utilisateur .Navigation .navbox .navbar button:hover {
    background-color: rgba(162, 255, 143, 0.8);
}

.Utilisateur .Navigation .navbar .icon {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/******************************************CONTENT**************************************************/

.Utilisateur .Content {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Utilisateur .Content .Presentation .card {
    background-color: #c8d3c9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(188, 241, 188);
    width: 900px;
    height: 600px;
    text-align: justify;
}

.Utilisateur .Content .Presentation .card h1 {
    background-color: #68c770;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
}

.Utilisateur .Content .Presentation .card p {
    background-color: #a3f3aa;
    color: green;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.Utilisateur .Content .Presentation .commence a {
    background-color: #21833a;
    color: #ffffff;
    padding: 10px 70px;
    border-radius: 5px;
    text-decoration: none;
}

.Utilisateur .Content .Presentation .commence a:hover {
    background-color: #41af5d;
}

.Utilisateur .Content  .section-visible {
    display: block;
    margin-top: 10px;
}

.Utilisateur .Content .section-hidden {
    display: none;
}



/******************************************COMMUNE**************************************************/
.Utilisateur .Content .Analyses .name,
.Utilisateur .Content .Dashboard .name,
.Utilisateur .Content .capteur .name,
.Utilisateur .Content .ChatBot .name,
.Utilisateur .Content .Profile .name{
    background-color: #68c770;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 28px;
    font-weight: bold;
}

/******************************************ANALYSES**************************************************/
.Utilisateur .Content .Analyses .flexbox {
    display: flex;
    justify-content: space-between;
}

.Utilisateur .Content .Analyses .left,
.Utilisateur .Content .Analyses .rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%; 
}

.Utilisateur .Content .Analyses .left .message,
.Utilisateur .Content .Analyses .rigth .message {
    margin-top: 10px;
    background-color: #a3f3aa;
    color: green;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.Utilisateur .Content .Analyses .rigth .demande{
    padding: 5px 10px;
    background-color: rgb(23, 134, 55);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.Utilisateur .Content .Analyses .rigth .demande:hover {
    background-color: rgb(38, 205, 86);
}

.Utilisateur .Content .Analyses .left .bouton,
.Utilisateur .Content .Analyses .rigth .bouton {
    background-color: #e2ae72;
    color: #b3743a;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.Utilisateur .Content .Analyses .left .bouton:hover,
.Utilisateur .Content .Analyses .rigth .bouton:hover {
    background-color: #e9a751;
}

.Utilisateur .Content .Analyses .left .card,
.Utilisateur .Content .Analyses .rigth .card {
    background-color: #a3f3aa;
    padding: 30px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(188, 241, 188);
    width: 100%; /* Ajustez la largeur comme nécessaire */
    text-align: justify;
}

/******************************************DASHBOARD**************************************************/

.Dashboard .message {
    margin-top: 10px;
    background-color: #a3f3aa;
    color: green;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.Dashboard .commence {
    margin: 20px;
}

.Dashboard .commence a {
    background-color: #21833a;
    color: #ffffff;
    padding: 10px 70px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 25px;
}

.Dashboard .commence a:hover {
    background-color: #41af5d;
}

.Dashboard .resultat {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}

.Dashboard .resultat p{
    color: #21833a;
    font-size: 25px;
    font-weight: bolder;
}
.image-scroll {
    margin: 5px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 10px;
    scroll-behavior: smooth;
    background: #f5f5f5;
    border-radius: 10px;
    width: 100%;
    max-width: 1167px;
}

.image-container img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
    width: 250px;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.scroll-button {
    background: gainsboro;
    margin: 5px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.scroll-button:focus {
    outline: none;
}

.scroll-button:hover {
    background: lightgreen;
    transform: scale(1.1);
}

.scroll-button:active {
    background: lightgreen;
}

@media (max-width: 600px) {
    .image-container {
        gap: 5px;
        padding: 10px;
    }

    .scroll-button {
        font-size: 20px;
        padding: 8px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}


/******************************************CHATBOT**************************************************/
.Utilisateur .Content .ChatBot {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.Utilisateur .Content .ChatBot .chat-messages {
    max-height: 450px; 
    overflow-y: auto; 
    padding: 10px;    
    background-color: #f0f0f0;
    margin-bottom: 60px; 
}

.Utilisateur .Content .ChatBot .chat-messages div {
    margin-bottom: 20px; 
    padding: 8px 12px; 
    border-radius: 8px;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    word-break: break-word; 
}

.Utilisateur .Content .ChatBot .chat-messages div:last-child {
    margin-bottom: 0; 
}

.Utilisateur .Content .ChatBot .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: absolute; 
    bottom: 0; 
    margin-bottom: -17px;
}

.Utilisateur .Content .ChatBot .input-container input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.Utilisateur .Content .ChatBot .input-container input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
}

.Utilisateur .Content .ChatBot .input-container button {
    padding: 15px 30px 10px 30px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Utilisateur .Content .ChatBot .input-container button:hover {
    background-color: #218838;
}

/************************************* Insert page *****************************************/
.insert {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 5px;
    width: 100%;
}

.form-container, .map-container{
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 100%;
}

.map-container .map, .map-container .back {
    flex: 1;
    flex-direction: column;
    margin: 35px;
}

.form-container header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 117, 81);
    box-shadow: 0 2px 5px rgba(251, 253, 251, 0.1);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: white;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.map-container .leaflet-container {
    height: 700px;
    width: 100%;
}

/************************************* Profile page *****************************************/
.Profile .informations {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 90%;
}

.Profile .informations p {
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
    background-color: #61a163;
    color:white;
    border-radius: 10px;
    padding: 35px;
    transition: all 0.3s ease;
}

.Profile .informations p:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.Profile .informations p span {
    font-weight: bold;
    color: #333;
}

.Profile .informations p:last-child {
    margin-bottom: 0;
}

.Profile p {
    font-size: 1.2em;
    color: #555;
    text-align: center;
}

/************************************Service Capteurs******************************************/

.capteur .container {
    max-width: 1200px;
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(188, 231, 168);
}

.capteur .container .row {
    display: flex;
    align-items: flex-end; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.capteur .container .row .text {
    flex-basis: calc(50% - 10px); /* Prend 50% de l'espace disponible, moins la marge */
    margin-right: 470px; /* Espacement entre le texte et l'image */
    margin-top: 25px; /* Marge supérieure pour le texte */
    align-self: flex-end; /* Pour aligner le texte en bas */
}

.capteur .container .row .text h1 {
    font-size: 23px;
    line-height: 50px;
    margin: 5px 0;
}

.capteur .container .row .text p {
    color:#555;
    font-size: 18px;
    line-height: 30px;
}

.capteur .container .row .text a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #61a163;
    color:white;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.capteur .container .row .text a:hover {
    background-color: #21833a; 
}

.capteur .container .row .col-2 {
    flex-basis: 50%;
    padding: 20px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.capteur .container .row .col-2 img {
    width: 107%;
    align-self: flex-end;
    margin-top: -271px;
    margin-right: -310px;
}

/************************************* Service Categorie *****************************************/
.categorie {
    font-family: Arial, sans-serif;
}

.categorie .container {
    background-color: gainsboro;
}

.categorie .container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #61a163;
    padding: 20px;
    border-radius: 5px;
}

.categorie .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categorie .container .row .col-3 {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.categorie .container .row .col-3:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.categorie .container .row .col-3 .icon {
    width: 60%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.categorie .container .row .col-3 h1 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px;
    text-align: center;
}

.categorie .container .row .col-3 .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.categorie .container .row .col-3 .rating i {
    color: #ffc107;
}

.categorie .container .row .col-3 p {
    font-size: 1rem;
    color: #777;
    text-align: center;
}


.categorie .container .row .col-3 button {
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px gray;
    box-shadow: 0 0 10px gray;
    margin: 11px;
    text-align: center;
}

.categorie .container .row .col-3 button:hover {
    background-color: #21833a;
}