
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bounce-animation {
    animation: bounce 0.5s infinite forwards;
}

/****************************** Authentication and Register pages *****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
}

section .imgBox {
    position: relative;
    width: 50%;
    height: 100%;
    float: left; 
}

section .imgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

section .logo {
    position: absolute;
    top: 10px;
    right: 10px; 
}
section .logoImg {
    width: 100px; 
    height: auto;
}

section .contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

}

section .contentBox .formBox h2{
    color: #243036;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(28, 71, 49);
    letter-spacing: 1px;
    display: inline-block;
}

.inputBox{
    margin-bottom: 20px;
}
 
.inputBox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #151d30;
    font-weight: 300;
    letter-spacing: 1px;
}

.inputBox input{
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #bec1c2;
    letter-spacing: 1px;
    outline: none;
    background-color: transparent;
    border-radius: 10px;

}

.inputBox input[type="Submit"] {
    background-color: rgb(27, 58, 42);
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    cursor: pointer;

}

.inputBox input[type="Submit"]:hover{
    background-color: rgb(167, 231, 198);
}

.inputBox p {
    color: rgb(17, 43, 29);
    text-align: center;
}

.contentBox p a {
    color: rgb(17, 43, 29);  
}

/*********************************** MainPage styles *********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 100, 68);
    box-shadow: 0 2px 5px rgba(24, 41, 20, 0.1);
    padding-bottom: 50px;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px; 
}

.logoImg {
    width: 100px; 
    height: auto;
    border-radius: 60%;
}

.logoname {
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin-left: 100px;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-pour-créer {
    padding: 10px 20px;
    background-color: rgb(23, 134, 55);
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-pour-créer:hover {
    background-color: rgb(38, 205, 86);
}

.paragraph {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    margin-top: 150px;
    position: fixed;
    font-weight: bold;
}

.commence {
    padding: 10px 20px;
    background-color: rgb(23, 134, 55);
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin:20px 500px 0 500px;
}

.commence:hover {
    background-color: rgb(38, 205, 86);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/************************************* Insert page *****************************************/
.insert {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.form-container {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 70px;
}

.form-container header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 117, 81);
    box-shadow: 0 2px 5px rgba(251, 253, 251, 0.1);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: white;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.map-container {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: 625px;
    margin-top: 70px;
}

.map-container .leaflet-container {
    height: 700px;
    width: 100%;
}
